<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
 >
 
 <!-- 누가 이 XML을 사용할까?(mybatis) / 누구와 연결을? (해당 DAO) -->
 <mapper namespace="com.market.rabbit.member.dao.MemberDAO">
 	<!--회원가입 -->
	<insert id="join" parameterType="member">
		INSERT INTO member(member_id,pw,name,birth_date,address,email,phone,withdraw, location)
		VALUES(#{member_id},#{pw},#{name},#{birth_date},#{address},#{email},#{phone},'0', #{address})	
	</insert>
	
	<insert id="insertDefaultProfile">
		INSERT INTO profilefile VALUES (seq_profilefile.nextval, 'dafault_profile.png', 'default_profile.png', #{param1})
	</insert>
	
	<!--아이디 중복 검사 -->
	<select id="overlay" parameterType="String" resultType="Integer">
	        SELECT COUNT(*) FROM member WHERE member_id=#{member_id} OR(member_id=#{member_id} AND withdraw='1')
	</select>
	
	<!--이메일 중복 검사 -->
	<select id="emoverlay" parameterType="String" resultType="Integer">
	      SELECT COUNT(*) FROM member WHERE email = #{email} 
	</select>
	
	<!--일반회원 로그인 시도 -->
	<select id="login" parameterType="member" resultType="Integer">
		SELECT COUNT(*) FROM member WHERE member_id = #{login_id} AND pw = #{pw} AND isblack=0 AND withdraw=0	
	</select>	
	
	<!--관리자 로그인 시도 -->
	<select id="admin" parameterType="admin" resultType="Integer">
		SELECT COUNT(*) FROM admin WHERE admin_id=#{login_id}  AND admin_pw=#{pw} AND ACTIVATION = 1
	</select>
	
	<!--비밀번호 암호화, DB에 비밀번호 가져오기 -->
	<select id="logpw" parameterType="member" resultType="String">
		SELECT pw FROM member WHERE member_id=#{id}
	</select>
	
	<!--비밀번호 암호화, DB에 비밀번호 가져오기 -->
	<select id="logadminpw" parameterType="admin" resultType="String">
		SELECT admin_pw FROM admin WHERE admin_id=#{admin_id}
	</select>
	
	<!--아이디 찾기 -->
	<select id="findId" parameterType="map" resultType="String">
		SELECT member_id FROM member WHERE email=#{email} AND name=#{name}
	</select>
	
	<!--비밀번호 찾기 전 탈퇴회원 여부 -->
	<select id="withd" parameterType="member" resultType="String">
		SELECT withdraw FROM member WHERE email=#{email} 
	</select>
	
	<!--비밀번호 찾기 -->
	<select id="findPw" parameterType="member" resultType="Integer">
		SELECT count(pw) FROM member WHERE member_id=#{member_id} AND name=#{name} AND email=#{email} 
	</select>
	
 	<!--비밀번호 재설정 -->
 	<update id="resetPw" parameterType="member">
 		UPDATE member SET pw=#{pw} WHERE member_id=#{member_id}
 	</update>
 </mapper>