<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="hwi_css.css">
</head>
<body>
    <div id="container">
        <header>쪽지 알람 로그아웃</header>
        <nav>판매리스트 마이페이지 고객센터</nav>
        <div id="left_nav">회원정보 키워드 판매내역 구매내역 위시리스트 알림 차단목록 신고내역 1:1문의내역</div>
        <div id="main_content">
            <div id="block_list">
                <table id="table-block">
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td class="td-block-img"><p><img src="1.png" alt="" class="block-img"></p></td>
                        <td class="td-block-id">test01</td>
                        <td class="td-block-btn"><button>차단해제</button></td>
                    </tr>
                    <tr>
                        <td id="paging" colspan="3">
                            ◁ 1 2 3 4 5 ▷
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>