<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="hwi_css2.css">
</head>
<body>
    <div id="container">
        <header>쪽지 알람 로그아웃</header>
        <nav>판매리스트 마이페이지 고객센터</nav>
        <div id="left_nav">회원정보 키워드 판매내역 구매내역 위시리스트 알림 차단목록 신고내역 1:1문의내역</div>
        <div id="main_content">
            <table class="type04">
                <tr>
                    <th scope="row">제목</th>
                    <th scope="row">사유</th>
                    <th scope="row">처리상태</th>
                    <th scope="row">신고일</th>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td>커블팝니다.</td>
                    <td>돈 보냈는데 먹튀당했어요.</td>
                    <td>처리중</td>
                    <td>2021.04.19</td>
                </tr>
                <tr>
                    <td colspan="4" id="paging">◁ 1 2 3 4 5 ▷</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>