<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="hwi_css.css">
</head>
<body>
    <div id="container">
        <header>쪽지 알람 로그아웃</header>
        <nav>판매리스트 마이페이지 고객센터</nav>
        <div id="left_nav">회원정보 키워드 판매내역 구매내역 위시리스트 알림 차단목록 신고내역 1:1문의내역</div>
        <div id="main_content">
            <div id="alarm_list">
                <table id="table-alarm">
                    <tr>
                        <td><a href="">[게시글제목]</a> 게시글에 댓글이 입력되었습니다.</td>
                        <td><button class="btn-alarm-remove">지우기</button></td>
                    </tr>
                    <tr>
                        <td><a href="">[게시글제목]</a> 게시글에 댓글이 입력되었습니다.</td>
                        <td><button class="btn-alarm-remove">지우기</button></td>
                    </tr>
                    <tr>
                        <td><a href="">[게시글제목]</a> 게시글에 댓글이 입력되었습니다.</td>
                        <td><button class="btn-alarm-remove">지우기</button></td>
                    </tr>
                    <tr>
                        <td><a href="">[게시글제목]</a> 게시글에 댓글이 입력되었습니다.</td>
                        <td><button class="btn-alarm-remove">지우기</button></td>
                    </tr>
                    <tr>
                        <td><a href="">[게시글제목]</a> 게시글에 댓글이 입력되었습니다.</td>
                        <td><button class="btn-alarm-remove">지우기</button></td>
                    </tr>
                    <tr>
                        <td id="paging" colspan="2">
                            ◁ 1 2 3 4 5 ▷
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>