<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="hwi_css.css">
    <style>
         body{
            margin-top: 100px;
            font-family: 'Trebuchet MS', serif;
            line-height: 1.6
        }
        #msgContainer{
            width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="msgContainer">
        <div class="main-logo">
            <img src="main_logo.png" alt="">
        </div>
        <div class="msg-main_content">
            <div class="msg-title">
                쪽지보내기
            </div>
            <div class="msg-detail-info">
                <span class="msg-detail-info-span">보낸사람 : test01</span><span class="msg-detail-info-span">받은날짜 : 2021.04.24</span>
            </div>
            <div id="msg-write">
                <textarea name="" id="" cols="55" rows="20"></textarea>
            </div>
            <div class="msg-detail-btn">
                <button class="msg-btn">보내기</button>
                <button class="msg-btn">목록</button>
            </div>
        </div>
    </div>
</body>
</html>