<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="hwi_css.css">
    <style>
         body{
            margin-top: 100px;
            font-family: 'Trebuchet MS', serif;
            line-height: 1.6
        }
        #msgContainer{
            width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="msgContainer">
        <div class="main-logo">
            <img src="main_logo.png" alt="">
        </div>
        <div class="msg-main_content">
            <div class="msg-title">
                보낸쪽지 상세보기
            </div>
            <div class="msg-detail-info">
                <span class="msg-detail-info-span">받는사람 : test01</span><span class="msg-detail-info-span">보낸날짜 : 2021.04.24</span>
            </div>
            <div class="msg-detail-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ratione quam dignissimos alias quod! Voluptatum aliquam accusamus facilis in, temporibus voluptates, id itaque adipisci quos odio quisquam aliquid. Neque, ipsa!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ratione quam dignissimos alias quod! Voluptatum aliquam accusamus facilis in, temporibus voluptates, id itaque adipisci quos odio quisquam aliquid. Neque, ipsa!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ratione quam dignissimos alias quod! Voluptatum aliquam accusamus facilis in, temporibus voluptates, id itaque adipisci quos odio quisquam aliquid. Neque, ipsa!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ratione quam dignissimos alias quod! Voluptatum aliquam accusamus facilis in, temporibus voluptates, id itaque adipisci quos odio quisquam aliquid. Neque, ipsa!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ratione quam dignissimos alias quod! Voluptatum aliquam accusamus facilis in, temporibus voluptates, id itaque adipisci quos odio quisquam aliquid. Neque, ipsa!
            </div>
            <div class="msg-detail-btn">
                <button class="msg-btn">답장하기</button>
                <button class="msg-btn">목록</button>
            </div>
        </div>
    </div>
</body>
</html>